<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce Demo Test Suite" parallel="false">

    <test name="Login SauceDemoTests">
        <classes>
            <class name="SauceDemoTests.LoginPageTests"/>
        </classes>
    </test>

    <test name="Home Page SauceDemoTests">
        <classes>
            <class name="SauceDemoTests.HomePageTest"/>
        </classes>
    </test>

    <test name="Cart SauceDemoTests">
        <classes>
            <class name="SauceDemoTests.CartPageTests"/>
        </classes>
    </test>

    <test name="Checkout SauceDemoTests">
        <classes>
            <class name="SauceDemoTests.CheckoutPageTests"/>
        </classes>
    </test>

    <test name="Checkout Confirmation SauceDemoTests">
        <classes>
            <class name="SauceDemoTests.CheckoutConfirmationPageTests"/>
        </classes>
    </test>

</suite>